
.FooterLogo {
    @apply w-64 align-top;
}

.FooterCadreLi1 .FooterCadreLi2 .FooterCadreLi3 {
    @apply w-80 align-top;
}

.FooterCadreNews {
    @apply w-80 align-top;
}

.FooterCadreLi1 {
    border-bottom: 7px solid #880C01;
}

.FooterCadreLi2 {
    border-bottom: 7px solid #5380B1;
    
}

.FooterCadreLi3 {
    border-bottom: 7px solid #F6CD35;
    
}
