/* body {
  font-family: 'Roboto', sans-serif, 'arial';
  background-color: #C3C3C3;
  padding-top: 85px;
}

#container-product{
  width: 100%;
} */

/* h1 {
  font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 600;
  font-size: 72px;
  color: white;
  text-align: center;
} */

/* h4 {
  font-family: 'Roboto', sans-serif, 'arial';
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
} */

/* .product-name{
    font-size: 16px;
    color: #313030;
    line-height: 1.5;
    text-align: center;
}

.product-price{
    font-size: 12px;
    color: #313030;
    line-height: 1.5;
    text-align: center;
}

.box{
    display: block;
    margin:15px;
    width: 150px;
}
.box img{
    max-width: 140px; 
}
.box-desc{
    box-shadow: 2px 2px 0px #aaa; 
     padding: 5px 5px;
     width:150px;
     border-radius: 0 0 5px 5px;
}
.produit-desc{
  box-shadow: 2px 2px 0px #aaa; 
   padding: 5px 5px;
   width:250px;
   border-radius: 0 0 5px 5px;
}


.flex-list-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}

.flex-container{
  background-color: #FFFFFF;
  padding: 1rem;
}

.flex-box{
  padding : 2rem;
}


.flex-end{
    display: flex;
    justify-content: flex-end;
}
.lien img{
    width: 20px;
    height: 20px;
    margin: 2px;
}
.flex-bas{
  display: flex;
  justify-content: space-between;
  background-color: #FCFCFC;
  padding: 10px;
}

.flex-bas img{
  width: 50px;
} */

/* image produit */
/* #picture{
	display: block;
	position: relative;
	width: 150px;
	height: 150px;
	background: #FFFFFF;
	margin: 0 auto; padding: 0;
}

.picture {
  width:150px;
  height:150px;
  position: relative;
  display: block;
  background: white;
  text-align: center;
  color: white;
  padding: 15px;
 }
 
 .picture:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid #ECECEC;
  border-left: 20px solid white;
  width: 0;
}

/* ///// inputs /////*/
/* .box-cart{
  width: 200px;
  background-color: #FCFCFC;
  border-radius: 5px;
}

.panier-total{
  padding: 2rem 2rem;
  width: 100%;
}

.panier-product{
  display: flex;
  padding : 2rem;
  background-color: white;
  margin: 10px 0px;
}
.panier-product-desc{
   padding: 10px 10px;
   width:250px;
   border-radius: 0 0 5px 5px;
   text-align: left;
}

.panier-product > img{
  border: 2px solid #E5E7EB;
}

.info{
  width: 100%;
  padding: 1rem 1rem;
  background-color: #A8BFD7;
  text-align: center;
  font-weight: bold;
}

.panier-select{
	-webkit-transform:skew(30deg);
	-moz-transform:skew(30deg);
	-o-transform:skew(30deg);
	transform:skew(30deg);
  color : rgb(161, 139, 139);
  font-weight: bold;
  padding: 0.2rem 1.5rem;
}


.panier-select-text{
  color:white;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  transform:skew(-30deg);
}

.panier-product-name{
  font-size: 16px;
  color: #313030;
  line-height: 1.5;
  text-align: left;
}

.panier-product-detail{
  font-size: 12px;
  line-height: 1;
  text-align: left;
}

.panier-product-price{
  font-size: 12px;
  color: #313030;
  line-height: 1.5;
  text-align: left;
}

.titre-panier {        
  display: flex;
  align-items: center;
}
/*ticket*/

.panier-product-ticket{
  padding : 1rem;
  background-color: #ECECEC;
  margin: 10px 0px;
  border-radius: 20px;
}

.btn-ticket{
  background-color: #ECECEC;
  color : rgb(161, 139, 139);
  font-weight: bold;
  padding: .25rem .25rem;
  border-radius: 4px;
}

.btn-ticket:hover{
  background-color: blue;
}

.product-price-ticket{
  font-size: 12px;
  color: #313030;
  line-height: 1.5;
  text-align: left;
  font-weight: bold;
}

.panier-product-desc-ticket{
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
  padding: 10px 10px;
  width:250px;
  border-radius: 0 0 5px 5px;
  text-align: left;
}
/* ///// inputs /////*/

/* .flexCol{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
  width: 100%;
}

.flexCol input{
  width: 100%;
	min-width: 300px;
}

.btn{
  background-color: rgba(136, 12, 1,1 );
  color : rgb(161, 139, 139);
  font-weight: bold;
  padding: .5rem 1.5rem;
  border-radius: 4px;
}

.btn:hover{
  background-color: blue;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
} */
