@media screen and (min-width: 1536px) {}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 640px) {}

.cadreInscription {
    width: 580px;
}

input {
    border: 1px solid #5380B1!important;
}

.IncriptionBtn {
    background-color: #880C01;
    padding: 10px 20px 10px 20px;
    width: 300px;
    transform: skew(25deg);
}

.IncriptionBtn span {
    transform: skew(-25deg);
}

.InscriptionSpanText {
    color: white;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    transform: skew(-25deg);
}