.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.detail {
    display: flex;
    justify-content: space-around;
}
.detail img {
    background-color: whitesmoke;
    padding: 2rem;
    flex-basis: 40%;
    border-radius: 0.2rem;
}

.detailInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding: 2rem;
    flex-basis: 40%;
    border-radius: 0.2rem;
    text-align: center;
}
.detailNote {
    display: flex;
}
.detailNote div {
    display: flex;
    margin: 2rem;
}
.detailInfos button {
    background-color: #880C01;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    transform: skew(15deg);
}

.description {
    width: 60%;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.2rem;
    background-color: whitesmoke;
}
.description h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

.otherImage {
    display: flex;
}

.similarProduct {
    display: flex;
}