
.productList {
    display: flex;
    background-color: whitesmoke;
    border-radius: 0.2rem;
    padding: 2rem;
    margin-bottom: 2rem;    
    margin-right: 2rem;
}
.productListInfos {
    padding: 1rem;
}
.recapPrice {
    background-color: whitesmoke;
    border-radius: 0.2rem;
    padding: 2rem;
    margin-bottom: 2rem;
}
.freeDelivery {
    background-color: #5380B1;
    padding: 2rem;
    font-size: 1rem;
}

.PaiementInfos {
    text-align: center;
    width: 50%;
    margin: auto;
}
.PaiementInfos h3 {
    font-size: 1.2rem;
}
.accept {
    font-weight: bold;
}
.PaiementMode{
    display: flex;
    justify-content: space-around;
}
.amazon {
    background-color: rgb(230, 194, 118);
    border: 0.1px solid black;
    border-radius: 0.2rem;
    padding: 0 1rem 0 1rem;
}