@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url(./base/reset.css);
@import url(./module/_button.css);
@import url(./module/_box.css); */
/* @import url(./module/_input.css);
@import url(./module/_animation.css);
@import url(./module/_link.css); */
@import url(./layout/footer.css);
/* @import url(./layout/login.css); */
/* @import url(./layout/register.css);
@import url(./layout/form.css);
@import url(./layout/products.css); */
@layer components {
    /* GEOMETRY */
    .point {
        @apply w-4 h-4 mt-2 p-2 rounded-full;
    }
}
@layer base {
    body {
        @apply font-body text-primary-400 ;
    }
    h1 {
        @apply text-4xl font-bold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }
    h4 {
        @apply text-lg font-bold;
    }
    p {
        @apply text-base font-text; 
    }
    footer {
        @apply bg-primary-400 pb-10 pt-10;
    }
}
