@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    /* LINKS */
    .link {
        @apply cursor-pointer text-base font-medium text-gray-500 hover:text-gray-900;
    }

    /* BUTTONS */
    .btn{
        @apply whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent 
        rounded-md shadow text-base font-medium focus:outline-none 
        transform active:scale-95 active:ring-2 active:ring-offset-2 active:ring-white ;
    }
    .btn-primary{
        @apply text-white bg-primary-600 hover:bg-primary-700 hover:text-white 
         active:ring-primary-500 ;
    }
    .btn-secondary{
        @apply text-white bg-secondary-500 hover:bg-secondary-600 hover:text-white 
        active:ring-secondary-400 ;
    }
    .btn-blue{
        @apply text-white bg-blue-600 hover:bg-blue-700 hover:text-white 
        active:ring-primary-500 ;
    }
    .btn-red{
        @apply text-white bg-red-600 hover:bg-red-700 hover:text-white 
        active:ring-red-500 ;
    }
    .btn-green{
        @apply text-white bg-green-600 hover:bg-green-700 hover:text-white 
        active:ring-green-500 ;
    }
    .btn-yellow{
        @apply text-white bg-yellow-500 hover:bg-yellow-600 hover:text-white 
        active:ring-yellow-500 ;
    }
    .btn-purple{
        @apply text-white bg-purple-600 hover:bg-purple-700 hover:text-white 
        active:ring-purple-500 ;
    }
    .btn-pink{
        @apply text-white bg-pink-600 hover:bg-pink-700 hover:text-white 
        active:ring-pink-500 ;
    }
    .btn-indigo{
        @apply text-white bg-indigo-600 hover:bg-indigo-700 hover:text-white 
        active:ring-indigo-500 ;
    }

    /* INPUTS */
    .input{
        @apply appearance-none relative block w-full px-3 py-2 
        border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md 
        focus:outline-none focus:ring-primary-500 focus:border-primary-500 focus:z-20 sm:text-sm;
    }
    .input-error {
        @apply ring-red-500 border-red-500 focus:ring-red-500 focus:border-red-500 z-10 placeholder-red-500;
    }
    .checkbox {
        @apply h-4 w-4 text-primary-600 focus:ring-primary-500 border-gray-300 rounded cursor-pointer;
    }
    .checkbox-error{
        @apply border-red-500 border-2;
    }

    /* GEOMETRY */
    .point{
        @apply w-4 h-4 mt-2 p-2 rounded-full;
    }
    
}


/* ANIMATION CSS */
.anim-delay-100{
    animation-delay: 0.1s;
}
.anim-delay-300{
    animation-delay: 0.3s;
}
.anim-delay-600{
    animation-delay: 0.6s;
}