@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    @import url(./base/reset.css);
    @import url(./module/_button.css);
    @import url(./module/_box.css);
    @import url(./module/_input.css);
    @import url(./module/_animation.css);
    @import url(./module/_link.css);
    @import url(./layout/footer.css);
    @import url(./layout/login.css);
    @import url(./layout/register.css);
    @import url(./layout/form.css);
    @import url(./layout/products.css);
    /* GEOMETRY */
    .point {
        @apply w-4 h-4 mt-2 p-2 rounded-full;
    }
}