.box-product {
    height: 140px;
    border-bottom: 3px solid #d9d9d9;
    border-right: 3px solid #d9d9d9;
    background: linear-gradient(to bottom right, transparent 50%, #d9d9d9 50.5%) bottom right/30px 30px no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
}
.box-product img {
    width: 10rem;
    align-items: center;
}
.box-product-bottom {
    width: 150px;
    background: white;
    background-clip: content-box; /* <---- */
    box-shadow: inset -3px -3px #ececec;
}